<div class="container">
  <br />
  <pre class="pull-right right">{{ today }}</pre>
  <hr />
  <div class="panel-heading">
    <h5 class="panel-title">
      {{ panelTitle }}, <span *ngIf="customer">{{ customer.firstName }}</span>
    </h5>
  </div>
  <hr />
  <div class="row profile">
    <div class="col-md-4">
      <div *ngIf="customer" class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
          <img
            *ngIf="customer"
            src="{{ customer.cusUrl }}"
            class="img-responsive"
            alt=""
          />
        </div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <!-- <div class="profile-usertitle">
        <div class="profile-usertitle-name">
                      <h4>{{customer.firstName}} {{customer.lastName}}</h4>
        </div>
        <div class="profile-details">
                      <p><strong>ID:</strong> {{customer.id}}</p>
                      <p> <strong>Phone:</strong>	{{customer.phone}}  </p>
                      <p> <strong>Email:</strong> {{customer.email}} </p>
        </div>
      </div> -->
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="customer" class="profile-sidebar">
        <!-- SIDEBAR USERPIC -->
        <!-- <div  class="profile-userpic">
        <img *ngIf="customer" src="{{customer.cusUrl}}" class="img-responsive" alt="">
      </div> -->
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">
            <h4>{{ customer.firstName }} {{ customer.lastName }}</h4>
          </div>
          <div class="profile-details">
            <p><strong>ID:</strong> {{ customer.id }}</p>
            <p><strong>Phone:</strong> {{ customer.phone }}</p>
            <p><strong>Email:</strong> {{ customer.email }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container">
  <app-profile class="btn btn-info button"></app-profile>
  <hr />
  <button class="disabled btn btn-info button" routerLink="apptCreate" disabled>
    Schedule Appointment
  </button>
  <!-- Currently disabled .... only employees set up for appointments -->
</div>
<br />
<div class="container pet-create" *ngIf="this.test">
  <app-pet-create></app-pet-create>
</div>

<div class="table-1" *ngIf="petList.length > 0">
  <table class="table table-striped pet-table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Breed</th>
        <th scope="col">Weight</th>
        <th scope="col">Age</th>
        <th scope="col">Records</th>
        <th scope="col">Info</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let pet of petList"
        class="clickable-row"
        routerLink="register/"
      >
        <th scope="row">{{ pet.petName }}</th>
        <td>{{ petTypes(pet.type) }}</td>
        <td>{{ pet.weight }} lbs</td>
        <td>{{ pet.birthDate }}</td>
        <td>
          <a
            class="btn btn-outline-info table-btn"
            role="button"
            routerLink="../../cliPetRecord/{{ pet.id }}"
            >View</a
          >
        </td>
        <td>
          <a
            class="btn btn-outline-info table-btn"
            role="button"
            routerLink="../../cliPetProfile/{{ pet.id }}"
            >View Pet</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
