.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.pet-table {
  margin: 20px;
}

.table-btn {
  margin: 5px;
}
.table td, .table th {
  max-width:30rem;
}
/*  TEMP DEV  (to see) */
p.dev {
  color: blue;
}

.table-1 {
  padding-right: 40px;
}
.button {
  min-width: 200px;
  height: 50px;
}
.right {
  text-align: right;
}
