<div class="container">
  <pre  class="pull-right right">{{today}}</pre>
  <h5 class="panel-title">
    {{ panelTitle }}
    <span *ngIf="employee"
      >{{ employee.firstName }} {{ employee.lastName }}</span>
  </h5>

  <hr />
  <br />
</div>

<div class="container">
  <button
    type="button"
    class="btn btn-block btn-info button-fix"
    routerLink="register/"
  >
    Register Client
  </button>
  <hr />
  <app-appt-create class="btn btn-block btn-info"></app-appt-create>
  <hr />
  <app-profile class="btn btn-block btn-info"></app-profile>
  <hr />
  <app-pet-create class="btn btn-block btn-info"></app-pet-create>
</div>
<div class="container">
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr class="table-head">
        <th scope="coL">Cli ID</th>
        <th scope="coL">Pet ID</th>
        <th scope="coL">Date</th>
        <!-- <th scope="coL">Weight</th> -->
        <!-- <th scope="coL">Descr.</th> -->
        <th scope="coL">Time slot</th>
        <th scope="coL">Dog Info</th>
        <th scope="coL">Appt Info</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let apt of apptList" style="text-align: center">
        <td>{{ apt.custId }}</td>
        <td>{{ apt.petId }}</td>
        <td>{{ apt.date }}</td>
        <!-- <td>{{ apt.weight }}</td> -->
        <!-- <td>{{ apt.description }}</td> -->
        <td>{{ apt.timeSlot }}</td>
        <td>
          <a
            class="btn btn-outline-info table-btn"
            role="button"
            routerLink="../vetPetProfile/{{ apt.petId }}"
            >See Profile</a
          >
        </td>
        <td>
          <a
            class="btn btn-outline-info table-btn"
            role="button"
            routerLink="../appt/{{ apt.id }}"
            >View Appt</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
