.title {
    color:rgba(0, 0, 139, 0.719);
    margin:0px;
    padding:0px;
    text-align:center;
    font-style:italic;
}

/* app-router content */
.main { 
    background-color: rgba(144, 184, 219, 0.156);
border-radius:10px;
width:90%;
margin:0px auto;
padding:10px;
}
.footer {
    position:absolute;
    bottom:0px; 
    padding: 10px 0 20px;
    margin: 0;
    height:100px;
    min-width:100%;
    background-color: rgba(144, 184, 219, 0.256); 
    color: rgba(0, 0, 139, 0.719);
}