<nav class="navbar navbar-expand-lg navbar-light ">

  <a class="navbar-brand" *ngIf="authenticationService.isEmpLoggedIn()" routerLink="vetLanding/"><img width="110"
      class="logo" alt="Angular Logo" src="./assets/use this one.png"></a>

  <a class="navbar-brand" *ngIf="authenticationService.isCustLoggedIn()" routerLink="clients/{{id}}"><img width="110"
      class="logo" alt="Angular Logo" src="./assets/use this one.png"></a>

  <a class="navbar-brand" *ngIf="!(authenticationService.isCustLoggedIn() || authenticationService.isEmpLoggedIn())"
    routerLink="/"><img width="110" class="logo" alt="Angular Logo" src="./assets/use this one.png"></a>

  <button *ngIf="authenticationService.isCustLoggedIn() || authenticationService.isEmpLoggedIn()" class="navbar-toggler"
    type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!--
  { path: '', component: LoginComponent },
  { path: 'register', component: RegisterComponent },
  { path: 'pets', component: DoggydashComponent },
  { path: 'clients', component: ClientsComponent },
  { path: 'petCreate', component: PetCreateComponent},
  { path: 'appt/:apptId', component: ApptComponent},
  { path: 'apptCreate', component: ApptCreateComponent},
  { path: 'cliPetProfile/:animalId', component: CliPetProfileComponent},
  { path: 'cliPetRecord/:animalId', component: CliPetRecordComponent},
  { path: 'createClient', component: CreateClientComponent},
  { path: 'cliLanding', component: CliProfileComponent},
  { path: 'recLanding', component: RecLandingComponent},
  { path: 'vetLanding', component: VetLandingComponent},
  { path: 'recLogin', component: EmpRecLoginComponent},
  { path: 'vetLogin', component: EmpVetLoginComponent},
  { path: 'vetPetProfile/:animalId', component: VetPetProfileComponent},
  { path: 'vetClientProfile/:clientId', component: VetCliProfileComponent},
  { path: 'vetPetRecord/:animalId', component: VetPetRecordComponent} -->

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li>

      </li>


      <!-- IF CUST LOGGED IN THEY  ONLY  SEE THIS (  EMP ALSO SEES) -->
      <li *ngIf="authenticationService.isCustLoggedIn()" class="nav-item dropdown">
        <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Clients
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="cliPetRecord/:animalId">cliPetRecord/:animalId</a>
          <div class="dropdown-divider"></div>
        </div> -->

      </li>


      <!-- IF EMP LOGGED IN THEY SEE THIS -->
      <li *ngIf="authenticationService.isEmpLoggedIn()" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Administration
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">

          <a class="dropdown-item" routerLink="vetLanding/">Dashboard</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="register/">Add a Client</a>
          <a class="dropdown-item" routerLink="profile/">Edit Client Profile</a>
          <a class="dropdown-item" routerLink="petCreate/">Add a Pet</a>
          <a class="dropdown-item" routerLink="apptCreate/">Make Appt</a>
          <!-- <div class="dropdown-divider"></div> -->
          <br />
          <!-- <h6> &nbsp; &nbsp; &nbsp;Client View</h6> -->
          <hr>
          <!-- <a class="dropdown-item" routerLink="cliLanding/">Client</a> -->
          <!-- <a class="dropdown-item" routerLink="petCreate/">Add a pet</a> -->
          <!-- <a class="dropdown-item" routerLink="cliPetRecord/:animalId">Client Pet Record/:animalId</a> -->
          <!-- <a class="dropdown-item" routerLink="apptCreate/">Make Appt</a> -->
        </div>

      </li>

    </ul>

  </div>

  <form class="form-inline my-2 my-lg-0 register-logout">
    <!-- <button *ngIf="!(authenticationService.isCustLoggedIn() || authenticationService.isEmpLoggedIn())" type="submit"
      class="btn  " id="register" routerLink="register/">REGISTER</button> -->
    <button *ngIf="authenticationService.isCustLoggedIn() || authenticationService.isEmpLoggedIn()"
      class="btn btn-outline-success"  id="logout"> <a routerLink="/" (click)="authenticationService.logout()"> LOGOUT</a></button>
  </form>

</nav>
