<div class="container centerMe  ">
  <!-- <img src="https://tmm-nov.s3.amazonaws.com/img/banners/drive-hero.jpg" alt="Car" class="blackFade" > -->
  <div class="centered mobile">
    <!-- <h1 class="orangeText" id="commuter-title">DoggyWood Vets</h1> -->

    <div id="login-register" class="btn-group" role="group" aria-label="Button group">
      <!--<button class="btn btn-lg btn-outline-light" routerLink="/login">Login</button>-->
      <button
        class="btn btn-lg btn-outline-dark"
        id="login"
        routerLink="/login"
      >Login</button>
      <button
        class="btn btn-lg btn-outline-dark"
        id="register"
        routerLink="/register"
      >
        Register
      </button>
    </div>
    <br />
    <br />
    <hr>
    <h5 class="orangeText">
      <em>Safeguarding The Bond We Share with Our Pets</em>
    </h5>
<hr>
  </div>
</div>

<div class="container mBot ">
  <div class="row cBorder">
    <div class="col-sm-4 mBot mobile">
      <div class="card">
        <i class="fa fa-car fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Vaccinations</h5>
          <p class="card-text">Protect your Pets</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-group fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Pet Needs</h5>
          <p class="card-text">Meet their Needs!</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 mBot">
      <div class="card">
        <i class="fa fa-google-wallet fa-3x center1" aria-hidden="true"></i>
        <div class="card-body">
          <h5 class="card-title">Save Money</h5>
          <p class="card-text">Best Value and Care</p>
        </div>
      </div>
    </div>
  </div>
</div>
