<div class="row appt">
  <!-- Button trigger modal -->
  <div class=" col col-xs-8">
    <button type="button" class="btn btn-info btn-appt" data-toggle="modal" data-target="#exampleModalCenter">&nbsp; &nbsp; &nbsp; CREATE &nbsp;  &nbsp; &nbsp; &nbsp; </button>
  </div> 




<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Create A Vaccination</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="vName">Vaccine Name:</label>
          <textarea class="form-control" id="vName" rows="1" [(ngModel)]="vName"></textarea>
        </div>
        <div class="form-group">
          <label for="vDate">Date Recieved</label>
          <input type="date" class="form-control" id="vDate" [(ngModel)]="vDate">
        </div>
        <div class="form-group">
          <label for="vTime">Days Valid</label>
          <select class="form-control" id="vTime" [(ngModel)]="vTime">
            <option value="90">90</option>
            <option value="180">180</option>
            <option value="360">360</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" data-dismiss="modal" (click)="addRecord()">Submit</button>
      </div>
    </div>
  </div>
</div>