<div class="container"> 
  <div class="row justify-content-center">
      <div class="col-5">
          <h3 style="margin-bottom: 20px;">{{pet.petName}}'s Appointment</h3>
          <p><strong>Date and Time: </strong>{{appointment.date}} | {{appointment.timeSlot}}:00</p>
          <p><strong>Owner: </strong>{{customer.firstName}} {{customer.lastName}}</p>
          <p><strong>Type: </strong>{{pet.type}}</p>
          <p><strong>Breed: </strong>{{pet.breed}}</p>
          <p><strong>Date of Birth: </strong>{{pet.birthDate}}</p>
          <p><strong>Weight: </strong>{{appointment.weight}}</p>
      </div>
      <div class="col-5 d-flex flex-column justify-content-center align-items-center">
          <a class="btn btn-outline-info appt-button" routerLink="../../vetPetProfile/{{appointment.petId}}" role="button">View {{pet.petName}}'s Profile</a>
          <button type="button" class="btn btn-info appt-button" data-toggle="modal" data-target="#editWeightModal">Enter {{pet.petName}}'s Weight at Appointment</button>
      </div>
  </div>
  <div class="row justify-content-center" style="margin-bottom: 10px;">
      <table class="table table-striped appt-table">
          <thead class="thead-dark">
              <tr>
                  <th style="text-align: center;">Appointment Notes</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let note of notes">
                  <td>{{note.n_message}}</td>
              </tr>
          </tbody>
      </table>
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#addNoteModal">Add Note to Appointment</button>
  </div> 
</div>
<!--add note modal -->
<div class="modal fade" id="addNoteModal" tabindex="-1" role="dialog" aria-labelledby="addNoteModalTitle" aria-hidden="true"> 
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addNoteModalTitle">Add Note</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <textarea id="noteInput" class="form-control" [(ngModel)]="noteMessage"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="addNote()" data-dismiss="modal">Submit</button> 
      </div>
    </div>
  </div>
</div>
<!-- weight modal -->
<div class="modal fade" id="editWeightModal" tabindex="-1" role="dialog" aria-labelledby="editWeightModalTitle" aria-hidden="true"> 
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editWeightModalTitle">Enter {{pet.petName}}'s Weight</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <input type="number" class="form-control" id="weightInput" [(ngModel)]="newWeight">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-info" (click)="updateWeight()" data-dismiss="modal">Submit</button> 
      </div>
    </div>
  </div>
</div>