.profile-userpic img {
    float: none;
    padding-left:5px;
    margin: 0 auto;
    max-width:100%;
  width:400px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }