
<!-- <div class="container">
  <div style="float: left;">
  <img src="https://doggywood-veterinary.s3.amazonaws.com/assets/Animals/random_a3.jpg" alt="doggy" style="width:300px;height:auto;">
</div > --> 
<div class="row">
  <div class="profile-userpic col col-sm-8"> 

    <img  *ngIf="pet" src="{{ pet.petUrl }}" alt=""  >

  </div>
  <div class=" col col-sm-4"> 
    <button (click)="backToConsole()" class="btn btn-outline-info"><small><em> BACK TO CONSOLE</em>&nbsp;  </small></button> 
    <br />
    <hr>
     <h5>Enter Record</h5>
    <app-vac-create [importPetId]="parentPetId"></app-vac-create>
    <br />
    <h5>Upload Record</h5>
    <button disabled class="disabled btn btn-outline-info">&nbsp; &nbsp; &nbsp; UPLOAD &nbsp; &nbsp; &nbsp; </button> 
  </div>
</div>
<!-- </div> http://localhost:4200/clients/3  -->



<div   *ngIf="pet" class="container">
  <hr>
  <h3>{{pet.petName}} Vaccination Records</h3>
  <br />
  <table class="table table-striped">
    <thead class="thead-dark" style="text-align: center;">
      <tr> 
        <th scope="col">Name</th>
        <th scope="col">Date Received</th>
        <th scope="col">Expiration</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let r of recList" style="text-align: center;">
        <td>{{r.vacName}}</td>
        <td>{{r.vacDate}}</td>
        <td>{{r.vacTime}}</td>
      </tr>
    </tbody>
  </table>
</div>