.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .pet-table{ 
      margin: 20px; 
  }

  .table-btn{
      margin: 5px;
  } 
  
/*  TEMP DEV  (to see) */  
p.dev {
    color:blue;
}
