
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div  class="profile-userpic">
 
 
					<img src="{{ pet.petUrl }}" class="img-responsive" alt="">
 
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle"> 
					<div class="profile-usertitle-name">
                        <h3>Name: {{ pet.petName }}</h3>
					</div>
					<div>
                        <p>ID: {{ pet.id }}</p>
                        <p> Type:	{{ pet.type }}  </p>
                        <p> Breed: {{ pet.breed }} </p>
                        <p> Weight: {{ pet.weight }} </p>
                        <p> Birthdate: {{ pet.birthDate }} </p>
					</div>
				</div>
                 
			</div>
		</div>
	</div>
</div> 
<div class="container"> 
        <button class="btn btn-info" routerLink="../../cliPetRecord/{{petId}}"> View Records</button> 
</div>
    <!-- <div class="container">
      <app-pet-create></app-pet-create>
    </div> -->

<div class="container" *ngIf="noteList.length > 0">
    <table class="table table-striped pet-table">

        <thead class="thead-dark"> 
            <tr> 
            <th scope="col">Note ID</th>
            <th scope="col">Note</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let note of noteList" class="clickable-row" routerLink="register/">
            <th scope="row">{{ note.n_id }}</th>
            <td>{{ note.n_message }}</td>
          </tr>
        </tbody>
      </table>
</div>
 

