
.title {
    cursor:default;
}
.subtitle {
    font-size:.9rem;
    font-style:italic;
    padding-top:5px;
    cursor:default;
}
.center {
  margin:0px auto;
}
.copyright {
    color: #3379b7b4;
}
 