a.links {
  color:#0056b3;
  margin-right:auto;
  margin-left:auto;
}

a.links:hover {
    cursor: pointer;
    text-decoration: none;
}

h5.panel-title {
    text-align: center;
    color: rgba(0, 0, 139, 0.719);
}

div.panel {
    margin: 0 20%;
}

.admin-login {
    padding: 5px;
    text-align: center;
}

.register-logout {
    float: right;
}
.register {
  float:right;
}
