
<div class="container">
  <div class="row profile">
  <div class="col-md-6">
    <div class="profile-sidebar">
      <!-- SIDEBAR USERPIC -->
      <div  class="profile-userpic">


        <img *ngIf="pet" src="{{ pet.petUrl }}" width="400" class="img-responsive" alt="">

      </div>
      <!-- END SIDEBAR USERPIC -->
      <!-- SIDEBAR USER TITLE -->
    
               
    </div>
  </div>
    <div class="col-md-6">
  <div class="profile-usertitle"> 
        <div  *ngIf="pet" class="profile-usertitle-name">
                      <h5>Name: {{ pet.petName }}</h5>
        
                      <p>ID: {{ pet.id }}</p>
                      <p> Type:	{{ pet.type }}  </p>
                      <p> Breed: {{ pet.breed }} </p>
                      <p> Weight: {{ pet.weight }} </p>
                      <p> Birthdate: {{ pet.birthDate }} </p>
        </div>
      </div>
    </div>
</div>
</div> 
<div *ngIf="pet" class="container">
  <a role="button" class="btn btn-info" routerLink="../../cliPetRecord/{{pet.id}}">View Records</a>
  <a role="button" class="btn btn-info" routerLink="../../clients/{{pet.custId}}">View Owner</a>
</div>
  <!-- <div class="container">
    <app-pet-create></app-pet-create>
  </div> -->

<div class="container" *ngIf="noteList.length > 0">
  <table class="table table-striped pet-table">

      <thead class="thead-dark"> 
          <tr> 
          <th scope="col">Note ID</th>
          <th scope="col">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let note of noteList" class="clickable-row" routerLink="register/">
          <th scope="row">{{ note.n_id }}</th>
          <td>{{ note.n_message }}</td>
        </tr>
      </tbody>
    </table>
</div> 
