.profile-userpic img {
    float: none;
    margin: 20px auto;
     width:300px;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }

  .pet-table{ 
      margin: 20px; 
  }

  .table-btn{
      margin: 5px;
  } 
  
/*  TEMP DEV  (to see) */  
p.dev {
    color:blue;
}

a:visited {
    color: white;
    text-decoration: none;
  }
